<div class="app-credential">
  <div class="app-container">
    <div class="content-gutter">
      <div class="cnt">
        <figure class="logo">
          <img src="../assets/layouts/layout/img/logo/light/logo.svg" alt="">
        </figure>
        <h2>Manage your field sales and service team smarter, faster and on-the-go.</h2>
        <ul class="list">
          <li>Customers, Quotes and Orders</li>
          <li>Assign jobs and tasks to team members</li>
          <li>Team scheduling for field visits & other activities</li>
          <li>Custom Workflows and Forms for reporing</li>
          <li>Notifications and reminders to stay informed</li>
          <li>Inventory, Product and Services</li>
          <li>Invoices and Payments</li>
        </ul> 
        <div class="bottom">
          <figure>
            <img src="../assets/layouts/layout/img/login/thumb.png" alt="">
          </figure>
          <div class="data">
            <p>Available on</p>
            <ul class="list-unstyled">
              <li>
                <a href="" target="_blank">
                  <i class="svg ios-icon"></i>
                </a>
              </li>
              <li>
                <a href="" target="_blank">
                  <i class="svg android-icon"></i>
                </a>
              </li>
              <li>
                <a href="" target="_blank">
                  <i class="svg web-icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>         
      </div>        
    </div>  
    <div class="form-gutter">
      <router-outlet></router-outlet>
    </div>
  </div>   
</div>    