.horizontal-form {
    .ember-details {
        padding: 20px 20px;
        overflow: hidden;
        background: #fff;
    }
}

.pdc-head {
    // pdc head
    height: 40px;
    padding: 0 18px;
    position: relative;
    margin-bottom: 1px;
    @include flexbox;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(flex-end);
    h2 {
        font-size: $font-size-small;
        @include flex(1);
    }
    .search-engine {
        .form-control {
            background: $secondary-bkg;
        }
    }
}

.caret {
    width: 0;
    height: 0;
    margin-left: 2px;
    display: inline-block;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.bs-custom {
    // bs custom
    position: relative;
    display: inline-block;
    .bs-select.line {
        >.dropdown-toggle {
            border: 0;
            font-size: inherit;
            font-weight: 400;
            padding-left: 0;
            background: transparent;
            line-height: normal;
            &:after {
                display: none;
            }
        }
    }
}

h2.title {
    // define tag title
    opacity: 0.8;
    margin-bottom: 12px;
}

h3.title {
    opacity: 0.6;
    font-size: $font-size-small;
    font-weight: 400;
    margin: 0 0 22px 0; // text-transform: uppercase;
}

h3 small.same {
    font-size: $font-size-sm-2;
    text-transform: none;
}

.app-radio-list-result {
    // display options
    margin: 6px 6px 20px;
    h3 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        word-break: break-all;
    }
    &.both {
        h3 {
            font-size: $font-size-sm-2;
            margin-top: 8px;
        }
    }
    img {
        max-width: 100px;
    }
}

.days-list {
    // days list
    @include list-unstyled;
    @include flexbox;
    li {
        float: left;
        width: 20%;
        cursor: pointer;
        text-align: center;
        margin-right: -1px;
        /*background: $secondary-bkg;*/
        border: 1px solid $base-border-color-6;
        label {
            display: block;
            margin: 0;
            cursor: pointer;
            padding: 6px 4px;
            background: $secondary-bkg;
            input {
                position: absolute;
            }
            &.active,
            &:hover {
                color: $base-font-color-3;
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

.details-info {
    // details info
    .form-group {
        margin-bottom: 20px;
        .control-label {
            padding-right: 0;
        }
        .form-control-static {
            color: $regular-font-color;
            min-height: 30px;
            display: inline-block; // overflow: hidden;
            // text-overflow: ellipsis;
            word-break: break-all;
            a {
                word-break: break-all;
            }
        }
    }
    &.single-case {
        .form-group {
            .form-control-static {
                max-width: 100%;
            }
        }
    }
}

p {
    // or
    &.or {
        opacity: 0.6;
        margin: 12px 0;
        text-align: center;
        position: relative;
        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            height: 1px;
            margin: auto;
            content: "";
            position: absolute;
            background: $base-bkg-6;
            width: calc(50% - 20px);
        }
        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            margin: auto;
            content: "";
            position: absolute;
            background: $base-bkg-6;
            width: calc(50% - 20px);
        }
    }
}

.dropdown-toggle {
    &.no {
        &:after {
            display: none;
        }
    }
}

.tabins {
    top: 60px;
    right: 110px;
    margin: 0;
    z-index: 91;
    position: fixed;
    .search-engine {
        top: -16px;
        right: 0px;
        position: absolute;
        &.no {
            top: 0;
        }
        .form-control {
            height: 32px;
            right: 2px;
        }
        .btn {
            height: 32px;
            padding: 4px 8px;
            position: relative;
            border-radius: 0 !important;
            border: 1px solid transparent !important;
            &:hover {
                color: inherit;
                background: #e5e5e5;
                border-color: #d6d6d6 !important;
            }
        }
        &.open {
            width: 350px;
            .form-control {
                background: #fff;
                border-color: #4b8cfc;
            }
            .btn {
                color: inherit;
                background: #e5e5e5;
                border-color: #d6d6d6 !important;
            }
        }
    }
    div.app-btn {
        margin-left: 12px;
        +div.app-btn {
            margin-left: 0;
            margin-right: 2px;
        }
        >a {
            display: block;
            padding: 3px 10px;
            border: 1px solid transparent;
            i {
                &.svg {
                    opacity: 0.65;
                }
            }
            &.data-filter {
                margin-right: 16px;
            }
            &:hover {
                color: inherit;
                background: #e5e5e5;
                border-color: #d6d6d6;
                i {
                    &.svg {
                        opacity: 1;
                    }
                }
            }
        }
        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }
    .dropdown-menu {
        background: #fff;
        li {
            a {
                display: block;
                i {
                    min-width: 12px;
                    margin-right: 6px;
                    &.delete-icon {
                        left: 4px;
                        position: relative;
                    }
                }
            }
        }
    }
}

.recurring-toggle {
    clear: left;
    display: none;
}

.address-info {
    .address-box {
        color: $secondary-font-color;
        font-size: $font-size-sm-2;
        line-height: 18px;
        display: inline-block;
        padding: 10px;
        border: 1px dashed $base-border-color-2;
        margin: 0 16px 12px 0;
        position: relative;
        width: 30%;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            border-color: #4b8cfc;
        }
        label {
            &.app-radio {
                left: 10px;
                right: 10px;
                top: 10px;
                bottom: 10px;
                z-index: 1;
                position: absolute;
                text-transform: uppercase;
            }
        }
        h3 {
            font-size: 13px;
            color: $base-font-color-2;
            margin: 0 0 6px 26px;
            text-transform: uppercase;
        }
        p {
            margin: 0 0 10px 26px;
            position: relative;
            padding-left: 16px;
            word-break: break-all;
            i {
                top: 3px;
                left: 0;
                min-width: 12px;
                position: absolute;
                &.email-icon {
                    top: 6px;
                }
                &.hs {
                    top: 0;
                }
            }
        }
    }
}

.more-head {
    float: right;
    margin-top: -42px;
    margin-right: 20px;
    position: relative;
    .search-engine {
        top: -4px;
        right: 0;
        position: absolute;
        .btn-search {
            border: 0;
        }
    }
    .btn.blue.se {
        margin-right: 50px;
    }
}

.address-map {
    /*float: right;
  background: #f2f2f2;
  height: 250px;
  font-size: 24px;
  width: 280px;
  position: relative;*/
    float: right;
    background: #f2f2f2;
    height: 100%;
    font-size: 24px;
    width: 100%;
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    &:before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "Google Map";
        position: absolute;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
    iframe {
        float: right;
        width: 100%;
        height: 280px;
        max-width: 280px;
        position: relative;
        z-index: 1;
        border: 2px solid #c7c6c7;
    }
}

.address-filter {
    color: #969696;
    line-height: 18px;
    position: relative;
    .address-box {
        color: $secondary-font-color;
        font-size: $font-size-sm-2;
        line-height: 18px;
        display: inline-block;
        padding: 10px;
        border: 1px dashed $base-border-color-2;
        margin: 10px 16px 12px 0;
        position: relative;
        width: 30%;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        p {
            position: relative;
            padding-left: 16px;
            word-break: break-all;
            margin-bottom: 5px;
            i {
                top: 3px;
                left: 0;
                min-width: 12px;
                position: absolute;
                &.email-icon {
                    top: 6px;
                }
                &.hs {
                    top: 0;
                }
            }
        }
    }
    h3 {
        font-size: 13px;
        color: #333;
        margin: 0 0 6px;
        text-transform: uppercase;
    }
}

.address-filter-details {
    color: #969696;
    line-height: 18px;
    position: relative;
    h2 {
        font-size: 13.5px;
        padding-top: 7px;
        font-weight: normal;
    }
    .address-box {
        color: $secondary-font-color;
        font-size: $font-size-sm-2;
        line-height: 18px;
        display: inline-block;
        padding: 10px;
        border: 1px dashed $base-border-color-2;
        margin: 8px 16px 12px 0;
        position: relative;
        width: 30%;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        p {
            position: relative;
            padding-left: 16px;
            word-break: break-all;
            i {
                top: 3px;
                left: 0;
                min-width: 12px;
                position: absolute;
                &.email-icon {
                    top: 6px;
                }
                &.hs {
                    top: 0;
                }
            }
        }
    }
    h3 {
        font-size: 13px;
        color: #333;
        margin: 0 0 6px;
        text-transform: uppercase;
    }
}

.address-box {
    min-height: 160px;
    h3 {
        a {
            font-size: 10px;
        }
    }
    .dropdown-menu {
        min-width: 300px;
        li {
            a {
                padding: 16px 24px;
                border-bottom: 1px solid #eee;
            }
            &.edit {
                a {
                    padding: 0;
                    top: 8px;
                    right: 8px;
                    border: 0;
                    position: absolute;
                }
            }
            &.curent {
                a {
                    background: #f1f5f7;
                }
            }
            &.newmodal {
                a {
                    padding: 6px 24px;
                    background: #eee;
                }
            }
        }
    }
}

.app-star-sidebar {
    .address-filter {
        padding: 0;
    }
}

.signature {
    max-width: 290px;
    position: relative;
    .form-control {
        margin-bottom: 4px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 150px;
    }
}

.add-more-fileinput {
    width: 160px;
    height: 160px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 54px;
        height: 54px;
        margin: auto;
        position: absolute;
        text-align: center;
        i {
            font-size: 52px;
            font-style: normal;
        }
        input {
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}

.rating-list {
    @include list-unstyled;
    li {
        display: inline-block;
        a {
            font-size: 18px;
            line-height: 100%;
            &.active {
                i:before {
                    content: "\f27d";
                }
            }
        }
    }
}

.btn-group {
    &.change,
    &.align {
        @include flexbox;
        @include align-items(center);
    }
    &.status-info {
        opacity: 0.8;
        margin-right: 40px;
        .bkg {
            color: #fff;
            font-size: 11px;
            padding: 5px 16px;
            min-width: 70px;
            margin-left: 10px;
            text-transform: uppercase;
        }
    }
}

.xc-container {
    margin-bottom: 30px;
}

.popover-content {
    p {
        font-size: 12px;
        span {
            display: block;
            margin-bottom: 6px;
            small {
                font-size: 100%;
            }
        }
    }
}

.container-sm {
    max-width: 1000px;
    .note-gutter {
        border: 1px solid #e2e2e2;
    }
}

.note-gutter {
    padding: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    @include flexbox;
    background: $regular-bkg;
    figure {
        float: left;
        max-width: 45px;
        margin-right: 12px;
    }
    .cnt {
        width: 100%;
        color: $primary-font-color;
        .head {
            @include flexbox;
            @include align-items(center);
            margin: 2px 6px 6px 0;
            h4 {
                font-size: $font-size-medium;
                color: $base-font-color-2;
                @include flex(1);
            }
            .date {
                opacity: 0.6;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}

.tag-ember {
    .tag-input-item {
        display: inline-block;
        font-size: 11px;
        line-height: normal;
        background: #4b8cfc;
        padding: 1px 6px;
        border-radius: 0;
        color: #fff;
        margin-right: 2px;
        margin-bottom: 2px;
        .tag-item-remove {
            color: #fff;
        }
    }
}

.inset-gutter {
    margin-bottom: 20px;
    table {
        &.table-gutter {
            tr {
                td {
                    padding-left: 0;
                    padding-right: 0;
                    &.inset-stat-label {
                        text-align: right;
                        span {}
                    }
                    &.inset-stat-value {
                        width: 64%;
                        span {
                            float: right;
                            text-align: right;
                            margin-right: -15px;
                            i {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.more-ember {
    margin: 10px 0;
    text-align: center;
    a {
        &.clone,
        &.more {
            font-size: $font-size-sm;
            margin-top: -4px;
            display: block;
            clear: left;
        }
    }
}

figure {
    &.profile-thumb {
        max-width: 100px;
        max-height: 100px;
    }
}

.item-meta-data-sm {
    min-width: 0 !important;
    max-width: 10%;
    white-space: nowrap;
}

.item-meta-data-lg {
    width: auto !important;
    min-width: 250px !important;
}

.item-meta-data-medium {
    min-width: 150px !important;
}

.input-group-addon>i {
    color: $base-font-color-1;
}

.clone-group {
    margin-bottom: 10px;
}

.clone {
    font-size: $font-size-sm;
    margin-top: -4px;
    display: block;
    clear: left;
}

.clone.alpha {
    padding-left: 0;
}

.clone-group-btn {
    .input-group-btn {
        display: none;
    }
    .input-group {
        width: 100%;
    }
}

.more {
    font-size: $font-size-sm;
}

.right-sm {
    margin-top: 8px;
    display: inline-block;
}

.item-table {
    .more {
        margin-left: 26px;
    }
}

.order-ember .head h2 {
    position: relative;
}

.box .btn.wide {
    width: 100%;
}

.applet-body {
    .invoice-container {
        // padding: 0 20px 0;
        padding: 0;
        box-shadow: none;
    }
}

.term {
    margin: 22px 0;
    word-break: break-all;
    h4 {
        font-size: 13px;
        font-weight: normal;
        opacity: 0.5;
        margin-bottom: 2px;
    }
    a {
        i {
            color: #999;
            margin-right: 4px;
            top: 2px;
            position: relative;
        }
    }
}

.term-container {
    margin-left: 20px;
    padding: 22px 20px;
    border: 2px dashed #eeecec;
    .term {
        margin: 0 0 30px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.comment-data {
    textarea.form-control {
        min-height: 80px;
    }
}

.bcc-group {
    @include flexbox;
    @include align-items(center);
    .cc-group {
        flex: 1;
    }
    .bcc-txt {
        margin-left: 10px;
        cursor: pointer;
    }
}

.bcc-data {
    display: none;
}

.attach-gutter {
    @include flexbox;
    @include align-items(center);
    .app-checkbox {
        margin: 0 10px 0 0;
    }
    .input-group {
        max-width: 200px;
    }
}

.attach-file {
    position: relative;
    display: inline-block;
    padding: 6px;
    .upload {
        position: absolute;
        font-size: 0;
        text-indent: -99999px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.time-spend {
    font-size: 14px;
}

.timer-status {
    i {
        top: -1px;
        font-size: 10px;
        position: relative;
    }
}

.form-group {
    position: relative;
}

.app-star-sidebar.small,
.small {
    font-size: 100%;
}

.dropdown-menu.role-menu {
    padding-top: 12px;
    padding-left: 12px;
}

body .ui-tree {
    margin: 2px 0 12px;
}

.control-label,
.address-filter .address-box p {
    word-break: break-word;
}

.listt {
    margin: 0;
    padding: 0;
    position: relative;
    li.item {
        list-style: none;
        position: relative;
        padding-left: 20px;
        margin-bottom: 13px;
        &:before {
            top: 0;
            left: 0;
            width: 9px;
            height: 9px;
            content: "";
            border-radius: 100px;
            position: absolute;
            border: 1px solid #ccc;
        }
        &:after {
            top: 0;
            left: 0;
            width: 9px;
            height: 9px;
            content: "";
            z-index: -1;
            border-radius: 100px;
            position: absolute;
            background: #ff7e00;
            border: 1px solid #ff7e00;
            transition: top 1.3s ease;
        }
        .item:nth-child(1):hover~.item:last-child:after {
            top: 10px;
            z-index: 1;
        }
        a {}
    }
}

.PrimaryNav {
    list-style: none;
    margin: 50px auto;
    max-width: 720px;
    padding: 0;
    width: 100%;
}

.Nav-item {
    background: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align: center;
}

.Nav-item:first-child {
    border-radius: 3px 0 0 3px;
}

.Nav-item:last-child {
    border-radius: 0 3px 3px 0;
}

.Nav-item.is-active a {
    color: #e82d00;
}

.Nav-item a {
    color: #121212;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.Nav-item a:hover {
    color: #e82d00;
}

.with-indicator {
    position: relative;
    z-index: 0;
}

.with-indicator .Nav-item:last-child:before,
.with-indicator .Nav-item:last-child:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    transition: left 1.3s ease;
}

.with-indicator .Nav-item:last-child:before {
    border: 1px solid transparent;
    border-color: #e82d00;
    width: 10px;
    height: 10px;
    top: 0;
    left: 10%;
    margin-left: -3px;
}

.with-indicator .Nav-item:after {
    background: #e82d00;
    top: 0;
    left: 0%;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
}

.with-indicator .Nav-item {
    position: relative;
}

.with-indicator .Nav-item:nth-child(1).is-active~.Nav-item:last-child:before {
    left: 10%;
}

.with-indicator .Nav-item:nth-child(2).is-active~.Nav-item:last-child:after {
    left: 20%;
}

.with-indicator .Nav-item:nth-child(2).is-active~.Nav-item:last-child:before {
    left: 30%;
}

.with-indicator .Nav-item:nth-child(3).is-active~.Nav-item:last-child:after {
    left: 40%;
}

.with-indicator .Nav-item:nth-child(3).is-active~.Nav-item:last-child:before {
    left: 50%;
}

.with-indicator .Nav-item:nth-child(4).is-active~.Nav-item:last-child:after {
    left: 60%;
}

.with-indicator .Nav-item:nth-child(4).is-active~.Nav-item:last-child:before {
    left: 70%;
}

.with-indicator .Nav-item:nth-child(1):hover~.Nav-item:last-child:after {
    left: 0% !important;
}

.with-indicator .Nav-item:nth-child(1):hover~.Nav-item:last-child:before {
    left: 10% !important;
}

.with-indicator .Nav-item:nth-child(2):hover~.Nav-item:last-child:after {
    left: 20% !important;
}

.with-indicator .Nav-item:nth-child(2):hover~.Nav-item:last-child:before {
    left: 30% !important;
}

.with-indicator .Nav-item:nth-child(3):hover~.Nav-item:last-child:after {
    left: 40% !important;
}

.with-indicator .Nav-item:nth-child(3):hover~.Nav-item:last-child:before {
    left: 50% !important;
}

.with-indicator .Nav-item:nth-child(4):hover~.Nav-item:last-child:after {
    left: 60% !important;
}

.with-indicator .Nav-item:nth-child(4):hover~.Nav-item:last-child:before {
    left: 70% !important;
}

.with-indicator .Nav-item:last-child:hover:before,
.with-indicator .Nav-item:last-child.is-active:before {
    left: 90% !important;
}

.with-indicator .Nav-item:last-child:hover:after,
.with-indicator .Nav-item:last-child.is-active:after {
    left: 80% !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.PrimaryNav:before,
.PrimaryNav:after {
    content: " ";
    display: table;
}

.PrimaryNav:after {
    clear: both;
}

.toggle {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.integration-data {
    background: #fff;
    min-height: calc(100vh - 105px);
    li {
        padding: 20px 40px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        border-bottom: 1px solid #d9d9d9;
        figure {
            img {
                height: 30px;
                max-width: none;
            }
        }
        .btn {
            margin-left: auto;
        }
    }
}

/*.PrimaryNav {
  list-style: none;
  margin: 50px 300px;
  padding: 0;
  
}

.Nav-item {
  display: block;
  margin: 0;
  padding: 0;
}
.Nav-item:first-child {
  border-radius: 3px 0 0 3px;
}
.Nav-item:last-child {
  border-radius: 0 3px 3px 0;
}
.Nav-item.is-active a {
  color: #e82d00;
}
.Nav-item a {
  color: #121212;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.Nav-item a:hover {
  color: #e82d00;
}

.with-indicator {
  position: relative;
  z-index: 0;
}
.with-indicator .Nav-item:last-child:before, .with-indicator .Nav-item:last-child:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  transition: top 1.3s ease;
}
.with-indicator .Nav-item:last-child:before {
  border: 1px solid transparent;
  border-color: #e82d00;
  width: 0;
  height: 0;
  top: 0;
  top: 10%;
  margin-left: -3px;
}
.with-indicator .Nav-item:last-child:after {
  background: #e82d00;
  top: -6px;
  bottom: -6px;
  left: 0;
  width: 9px;
  width: 9px;
  z-index: -1;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:after {
  top: 0%;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:before {
  top: 10%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:after {
  top: 20%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:before {
  top: 30%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:after {
  top: 40%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:before {
  top: 50%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:after {
  top: 60%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:before {
  top: 70%;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:after {
  top: 0% !important;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:before {
  top: 10% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:after {
  top: 20% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:before {
  top: 30% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:after {
  top: 40% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:before {
  top: 50% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:after {
  top: 60% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:before {
  top: 70% !important;
}
.with-indicator .Nav-item:last-child:hover:before, .with-indicator .Nav-item:last-child.is-active:before {
  top: 90% !important;
}
.with-indicator .Nav-item:last-child:hover:after, .with-indicator .Nav-item:last-child.is-active:after {
  top: 80% !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.PrimaryNav:before,
.PrimaryNav:after {
  content: " ";
  display: table;
}

.PrimaryNav:after {
  clear: both;
}

html {
  background-color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.toggle {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}*/

.bs-select {
    &.show {
        .dropdown-menu {
            display: block;
        }
    }
}

.signin-data {
    @include flexbox;
    padding: 12px;
    .box {
        width: 190px;
        height: 180px;
        margin-right: 18px;
        display: inline-block;
        a {
            width: 100%;
            height: 100%;
            color: #212121;
            font-size: 20px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            @include flex-direction(column);
            background: #fff;
            border-radius: 4px;
            border: 1px solid #e3e3e3;
            font-family: $font-stack-semibold;
        }
    }
}

.module-table {
    tr {
        th {
            font-size: 14px !important;
            color: #828282 !important;
            background: #fff !important;
            text-transform: none !important;
            &:first-child {
                width: 30%;
                /* border-left: 1px solid #ebeef0 !important;*/
            }
            &:nth-child(2) {
                width: 30%;
            }
            &:nth-child(3) {
                width: 30%;
            }
            &:last-child {
                /*border-right: 1px solid #ebeef0 !important;*/
            }
        }
        td {
            font-size: 14px !important;
            .child-list {
                li {
                    position: relative;
                    padding-left: 12px;
                    margin-top: 2px;
                    &:before {
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 4px;
                        height: 4px;
                        margin: auto;
                        content: "";
                        background: #666;
                        position: absolute;
                        border-radius: 100px;
                    }
                }
            }
            .upper {
                display: block;
            }
        }
    }
}

.details-info {
    .form-group {
        margin-bottom: 20px;
        .control-label {
            display: block;
        }
        .form-control-static {
            min-height: 0;
            padding: 0;
            color: #2c3032;
            font-size: 14px;
        }
    }
    .address-map iframe {
        float: right;
        width: 100%;
        height: 100%;
        max-width: 100%;
        position: relative;
        z-index: 1;
        border: 0;
    }
}

.control-label {
    display: block;
}


.reminder-data{
  .form-group{
    .fixed-addon{
      &.input-group{
        .group-addon{
          max-width: 100px;       
          .select2-selection{   
            background: #e7e7e7;
          }
        }
      }
    }
    .col-md-1{
      padding-left: 0;
    }
  }
}
.reminder-list{
  li{
    margin-bottom: 12px;
    @include flexbox;
    @include align-items(center);
    i{
      min-width: 16px;
      margin-right: 10px;
    }
  }
}