
<ng-container
  *ngIf="isSubmitted then submitted; else forgot_password"
></ng-container>
<ng-template #submitted>
  <form class="form-data">
    <div class="ins">
      <div class="head">
        <h2>Forgot your password?</h2>
        <p>Password reset link has been sent to your registered email address. </p>
      </div>
      <button class="btn back-to-signin" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to sign in</button>         
    </div>
  </form>
</ng-template>
<ng-template #forgot_password>
  <form class="form-data">
    <div class="ins">
      <div class="head">
        <h2>Forgot your password?</h2>
        <p>Enter your email address to recover your password.</p>
      </div>
      <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>Enter any username and password.</span>
      </div>
      <div class="form-group"> 
        <input class="form-control" type="text" autocomplete="off" placeholder="Email ID" name="username" /> 
      </div>           
      <div class="form-actions">
        <button type="submit" class="btn orange" (click)="onSubmit()">Submit</button>             
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn-link">Back to Signin</a>
      </div>
    </div>
  </form>
</ng-template>

<div class="copyright">
  <p>Copyright © FieldTitan. All rights Reserved.</p>
</div>