<!-- begin content -->
<div class="app-content-wrapper">
    <div class="app-content"> 
       <!-- begin portlet body-->
       <div class="portlet-404">
         <div class="cnt">
           <figure>
             <img src="../assets/layouts/layout/img/network.svg" alt="" />
           </figure>
           <h2>Whoops !</h2>
           <p>There seems to be a problem with your <br/>network connection  </p>
           <a href="" class="btn primary">Visit Work</a>
         </div>
       </div>
       <!-- end portlet body--> 
    </div>
 </div>
 <!-- end content -->             