.label-info {
  background: transparent;
}

.label.green,
.label-info.green {
  color: #1fcd6d;
}

.label.blue,
.label-info.blue {
  color: #659be0;
}

.label.red,
.label-info.red {
  color: #ed6b75;
}

.label.yellow,
.label-info.yellow {
  color: #ffc206;
}

.label.grey,
.label-info.grey {
  color: #bac3d0;
}

.label.purple,
.label-info.purple {
  color: #ae93df;
}

.label.deep-purple,
.label-info.deep-purple {
  color: #6d50a0;
}

.label.label-sm.bkg.blue {
  color: #fff;
  font-size: 11px;
  padding: 2px 4px;
  white-space: normal;
  background: #437ee2;
  display: inline-block;
  text-align: left;
}

.label {
  &.label-sm {
    font-weight: 400;
    &:not(.bkg) {
      font-size: 12px;
      padding: 0;
      &.cancelled {
        color: #da1313;
      }
      &.expired {
        color: #ffc206;
      }
      &.rejected {
        color: #9603ff;
      }
      &.converted {
        color: #239456;
      }
      &.approved {
        color: #77d26e;
      }
      &.sent {
        color: #5586c3;
      }
      &.draft {
        color: #9da9b5;
      }
    }
    &.bkg {
      &.cancelled {
        background: #da1313;
      }
      &.expired {
        background: #ffc206;
      }
      &.rejected {
        background: #9603ff;
      }
      &.converted {
        background: #239456;
      }
      &.approved {
        background: #77d26e;
      }
      &.sent {
        background: #5586c3;
      }
      &.draft {
        background: #9da9b5;
      }
    }
  }
}
