
@import "../components/mixin";                                    // import mixin

.app-bars{                                                        //app bars
  width: 40px;
  height: 40px;
  z-index: 99;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  i{
    &.fa-line{
      top: -12px;
      bottom: 0;
      margin: auto;
      @include app-bar-line;
      &:before,
      &:after{
        @include app-bar-line; 
      } 
      &:before{
        top: 6px;
        width: 16px;
        content: "";
      } 
      &:after{
        top: 12px;
        content: "";
      }  
    }
  }
  &:hover{
    i{
      &.fa-line{
        width: 26px;
        &:before{
          width: 24px;        
        }
        &:after{
          width: 26px;        
        }
      }
    }
  }
  &:hover{
    opacity: 0.4;
  }
  &.menu-toggler{
    display: none;  
    transform: rotate(180deg);
  }
  &.quick-toggler{                                                // app bars quick
    display: none;
    transform: rotate(180deg);
    i{
      &.fa-line{
        background: #000;
        &:before,
        &:after{
          background: #000;
        }
      }
  
    }

  }
}

@media (max-width: 990px){ 
  .app-bars{
    &.quick-toggler{
      display: block;
    }
  }
}

