.cost-summary {
  background: #f9f9f9;
  padding: 20px 0;
  clear: left;
  //margin-bottom: 20px;
  &.total-info {
    font-size: 14px;
    background: #e9e9e9;
  }
  table.table {
    margin-bottom: 0;
    tr {
      &:hover {
        background: transparent;
      }
      td {
        border: 0;
        padding: 8px 12px;
        &:last-child {
          min-width: 130px;
        }
      }
      td.xs {
        width: 60%;
        font-weight: 500;
        span {
          float: right;
          min-width: 80px;
          text-align: right;
        }
      }
    }
  }
  .discount-group {
    float: right;
    max-width: 160px;
    input.form-control {
      text-align: right;
    }
  }
}

.discount-group {
  .input-group-addon {
    border: 0;
    width: 60px;
    padding: 0;
    position: relative;
    background: #e2e2e2;
    .ng-select-container {
      background: transparent !important;
    }
  }
  .input-group {
    width: 100% !important;
  }
  .bootstrap-select {
    width: 100% !important;
  }
}

.cost-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  table.table {
    thead {
      th {
        &:last-child {
          text-align: right;
          padding-right: 20px;
        }
      }
    }
    tbody {
      td {
        &:last-child {
          text-align: right;
          padding-right: 20px;
        }
      }
    }
  }
}

.cost-summary.ic-1 {
  padding-right: 24px;
}
