.feed-sec{  
  max-width: 1000px;
  .feed-list{
    li{
      padding: 4px;
      font-size: $font-size-regular;
      overflow: hidden;
      margin-bottom: 20px;
      background: $regular-bkg;
      box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.12);
      .top-feed{
        overflow: hidden;
        padding: 4px;
        figure{
          float: left;
          max-width: 45px;
          margin-right: 12px;
        }
        .cnt{
          color: $primary-font-color;
          p{
            color: $base-font-color-dark;
            margin-bottom: 2px; 
          }
          a{
            font-weight: 600;
          }
        }
      }
      .bottom-feed{
        padding: 8px;
        overflow: hidden;
        background: $primary-bkg;
        a{
          font-size: 12px;
          margin-right: 12px; 
          display: inline-block;
        }        
      }
      .comment-msg{
        display: none;
        textarea.form-control{
          min-height: 62px;
        }
        small.hint{
          opacity: 0.9;
        }
      }
    }
  }
}
