.app-sidebar-closed {
    .data-loader {
        left: 110px;
    }
}

.app-sidebar-closed {
    &.app-quick-menu-fixed {
        .data-loader {
            left: 345px;
        }
    }
}

.app-quick-menu-fixed {
    .data-loader {
        left: 505px;
    }
}

.data-loader {
    left: 270px;
    bottom: 20px;
    width: 120px;
    height: 46px;
    z-index: 999;
    position: fixed;
    @include transition(all 0.3s ease-in-out);
    .loader {
        width: 120px;
        height: 46px;
        color: #fff;
        background: #363636;
        position: relative;
        border-radius: 4px !important;
        &:before {
            display: block;
            padding-top: 16px;
            padding-left: 48px;
            content: 'Loading...';
        }
        .circular {
            width: 20px;
            height: 20px;
            top: 0;
            bottom: 0;
            left: 20px;
            margin: auto;
            position: absolute;
            transform-origin: center center;
            animation: rotate-data 1.5s linear infinite;
            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                animation: dash-data 2s ease-in-out infinite, color-data 6s ease-in-out infinite;
            }
        }
    }
    @keyframes rotate-data {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes dash-data {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -124px;
        }
    }
    @keyframes color-data {
        0% {
            stroke: #fff;
        }
        50% {
            stroke: #fff;
        }
        100% {
            stroke: #fff;
        }
    }
}

.app-loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    z-index: 9999;
    display: none;
    position: fixed;
    &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: fixed;
        transition: 3s;
        background: rgba(0, 0, 0, 0.20);
        transition: visibility 0s, opacity 0.5s linear;
    }
    .loader {
        width: 60px;
        margin: 0 auto;
        background: #fff;
        position: relative;
        border-radius: 100px !important;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        &:after {
            top: 0;
            left: 1px;
            right: 0;
            bottom: 0;
            width: 26px;
            height: 26px;
            margin: auto;
            content: '';
            position: absolute;
            background: url(../img/loader.svg) no-repeat center center;
        }
        .circular {
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            transform-origin: center center;
            animation: rotate 2s linear infinite;
        }
        .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        }
    }
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }
    @keyframes color {
        100%,
        0% {
            stroke: #3598dc;
        }
        40% {
            stroke: #6cc745;
        }
        66% {
            stroke: #3598dc;
        }
        80%,
        90% {
            stroke: #6cc745;
        }
    }
}

.signup-loader {
    left: 50px;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    @include transition(all 0.3s ease-in-out);
    .loader {
        color: #222;
        display: flex;
        align-items: center;
        position: relative;
        top: 250px;
        span {
            left: 30px;
            top: -10px;
            color: #367538;
            font-size: 20px;
            font-weight: 500;
            white-space: nowrap;
            position: relative;
        }
        p {
            left: 0;
            top: 26px;
            font-size: 14px;
            position: absolute;
            white-space: nowrap;
        }
        .circular {
            width: 20px;
            height: 20px;
            top: -20px;
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            transform-origin: center center;
            animation: rotate-signup 1.5s linear infinite;
            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                stroke-linecap: round;
                animation: dash-signup 2s ease-in-out infinite, color-signup 6s ease-in-out infinite;
            }
        }
    }
    @keyframes rotate-signup {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes dash-signup {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -124px;
        }
    }
    @keyframes color-signup {
        0% {
            stroke: #222;
        }
        50% {
            stroke: #222;
        }
        100% {
            stroke: #222;
        }
    }
}

.bar-loader {
    height: 6px;
    width: 100%;
    top: 290px;
    min-width: 472px;
    position: relative;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 4px !important;
    &:before {
        left: 0;
        content: "";
        height: 6px;
        position: absolute;
        background: #4b8cfc;
        border-radius: 4px !important;
        animation: loading 3s linear infinite;
    }
    @keyframes loading {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}

.form-loader {
    display: none;
}