@mixin radius {                                                  // radius
  border-radius: 2px;
}


@mixin list-unstyled {                                                  // list unstyled
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin app-bar-line {                                                   // app bar line
  left: 0;
  width: 18px;
  height: 2px;  
  position: absolute;
  background: $regular-bkg;
  @include transition(all 0.25s ease-in-out);
}

@mixin header-icon-gutter {                                             // header icon gutter
  width: 16px;
  height: 16px;
  content: "";
  display: block;
}

@mixin header-dropdown-menu{                                             // header dropdown menu
  top: $header-height;
  left: auto;
  right: -6000px;
  z-index: 99;
  width: 350px;
  position: fixed;
  display: block;
  @include transition(all 0.8s ease-in-out);
}

@mixin header-dropdown-menu-before{                                      // header dropdown menu before
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 0;
  opacity: 0;
  content: "";
  z-index: -9999;
  position: fixed;  
  visibility: hidden;
  background: rgba(0, 0, 0, 0.20);
  @include transition(all 0.8s ease-in-out);
}

@mixin header-dropdown-menu-open{                                       // header dropdown menu open
  right: -6px;  
}

@mixin header-dropdown-menu-open-before{                                // header dropdown menu open before
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

@mixin flex-grow{                                                       // flex grow
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
    overflow-y: auto;
}

@mixin arrow-include-sd{
  top: 11px;
  right: 14px;
  width: 20px;             
  position: absolute;  
  content: "\f2fb";       
  font: normal normal normal 20px/1 'Material-Design-Iconic-Font';
}

@mixin rotate($degrees) {
   -moz-transform: rotate($degrees);  
     -o-transform: rotate($degrees);  
-webkit-transform: rotate($degrees);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
             zoom: 1;
}

@mixin user-placeholder {                                             // header icon gutter
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '\f207';
  @include flexbox;
  @include align-items (center);
  @include justify-content (center);
  position: absolute;
  background: #eee;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}