.modal-content{
	border: 0;
	.modal-header{
		.modal-title{
			flex: 1;
		}
		.close{
			position: absolute;	
		}
	}
}
.modal-title{
  font-size: $font-size-large;
  color: $base-font-color-2;
  font-weight: 500;
}
.calendar-popover{
	left: 0;
	right: 0;
	top: calc(50vh - 150px);
	bottom: 0;
	max-width: 230px;
	max-height: 200px;
	position: fixed;
	margin: auto;
 /* z-index: -999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
	&.open{
  opacity: 1;
	z-index: 99;
  visibility: visible;
	}*/
	&:before{
		left: 0;
	  right: 0;
	  top: 0;
	  top: 0;
	  bottom: 0;
	  content: "";
	  position: fixed;
	  background: rgba(0, 0, 0, 0.20);
	  transition: visibility 0s, opacity 0.5s linear;
	}
	.popover-body{
		z-index: 99;
		background: #fff;
		position: relative;
	    padding: 5px 12px;
	    border-radius: 4px;
		a{

			height: 36px;
			font-size: 14px;
			font-weight: 500;
			@include flexbox;
  		@include align-items(center);
  		padding-left: 16px;
    	color: $theme-btn-font-color;
      background: $theme-btn-bkg;
      border-color: $theme-btn-border-color;
		    border-radius: 4px;
		    transition: 0.2s;
		    margin: 6px 0;
    	&:hover{
    		color: $theme-btn-font-color;
                background: $theme-btn-hover-bkg;
                border-color: $theme-btn-hover-border-color;
    	}

		}
	}
}

.modal{ 
  &.show{
  	.modal-dialog{
	  	right: 0px;
	  }
  }
	.modal-dialog{
		top: 0;
	  left: auto;
	  right: -6000px;
	  bottom: 0;
	  border: 0;
	  margin: 0;
	  width: 520px;
	  max-width: 520px;
	  z-index: 1050;
	  position: fixed;
	  background: #fff;
	  -webkit-transition: all 0.4s !important;
	  -moz-transition: all 0.4s !important;
	  -ms-transition: all 0.4s !important;
	  -o-transition: all 0.4s !important;
	  transition: all 0.4s !important;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
	  .modal-header{
	  	border-radius: 0;
	  	height: 52px;
	    z-index: 2;
	    padding: 0 20px;
	    background: #11518e;
	    position: relative;
	    @include flexbox;
	  	@include align-items(center);
	  	.modal-title{
	  		color: #fff;
	  		font-size: 15px;
	  	}
	  	.close{
	  		top: 0;
	  		bottom: 0;
	  		right: 20px;
	  		width: 12px;
	    	height: 12px;
	    	padding: 0;
	    	margin: auto;
		    display: inline-block;
		    background: url(../img/svg/sprites.svg) no-repeat -63px -233px !important;
	  	}
	  }
	  .modal-body{
	  	height: calc(100vh - 116px);
	  	.form-horizontal{
	  		.form-group{
	  			margin: 0 0 15px 0;	  			
	  			[class*="col-"]{
  					max-width: 100%;
				    flex: none;
				    padding: 0;
  				}  	
  				.control-label{
  				  margin-bottom: 6px;
				    text-align: left;
				    display: block;
	  			}
	  		}
	  	}
	  }
	  .modal-footer{
	  	@include justify-content(center);
	  	.btn{
	  		min-width: 80px;
	  	}
	  }
  }
}