body .note-info {
  color: #666;
  font-size:  $font-size-sm;
  padding: 2px 6px;
  margin: 20px 28px;
  background: #f5f5f5;
  line-height: 16px;
  border-left: 4px solid #ccc;
  p {
    margin: 0;
  }
  h4 {
    font-size: $font-size-small;
    font-weight: 500;
    margin: 4px 0 4px 0;
  }
  &.beta{
    margin: 0;
  }
}
div.note-info {  
  padding: 4px 6px;
  margin: 0 0 22px;  
}
