.switch-bar {                                                             // switch bar
  width: 50px;
  height: 16px;
  margin: 0;
  position: relative;
  display: inline-block;  
  &.sm {
    width: 30px;
  }
  input{
    display: none;
    &:checked + .switch-slider {
      background: $switch-acive-bkg;                                  // include + theme color
      &:before{
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);  
      }
    }
  }
  .switch-slider { 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    @include transition(all 0.4s);
    position: absolute;
    border-radius: 50px !important;
    background: $switch-bkg;
    &:before {
      top: -2px;
      left: -2px;
      width: 18px;
      height: 18px;
      content: "";
      position: absolute;
      background: $regular-bkg;  
      border-radius: 50px !important;
      @include transition(all 0.4s);
      box-shadow: $switch-shadow;
    }
  }
}